/* body{
    color:white;
    background-color: #0096cc;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}
header{
    min-height: 200px;
    background-color: rgba(117, 200, 221, 0.5);
    margin-bottom:30px;

} */

iframe {
    border: 1px solid black;
    width: 500px;
    height:200px;
}