.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1200px;
    height: 1200px;
    margin: 6% auto;
}
body{
    text-align: center;
    padding-bottom: 20px;
}
div:hover { 
    background-color:rgb(211, 211, 211, 0.5);
  }
.ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;
}
.um{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;
}
.ur{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    text-align: center;
    font-size: 70px;
}
.ml{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;
}
.mm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;
}
.mr{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px black;
    text-align: center;
    font-size: 70px;
}
.bl{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;


}
.bm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-right:solid 4px black;
    text-align: center;
    font-size: 70px;
}
.br{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 70px;

}
button {
    background-color: darkgrey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
