/* *{
    border: solid 2px blue;
} */

/* Header */

header{
    background-color: lightsteelblue;
    height: 200px;
}
h1{
    color:blue;
}
hr{
 size: 5px;   
}

img {
    height: 200px;
    width: 200px;
}

/* Top */

.div1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#image1{
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    padding: 20px 0px 0px 20px;
    /* width: 50%; */
  }





/* Middle */
h2{
    margin:5px;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border:2px solid blue;
    
}

p{
    text-align: center;
}


/* Bottom */

footer{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

li{
    display:inline;
}
.quote{
    display:block;
    width:50%;
    /* float:left; */
}
